@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 5px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.active-link {
  color: #be5776;
}

#logo {
  margin-right: 50px;
  height: 60px;
  width: 100px;
  /* Adjust as needed */
}

nav {
  margin-left: 30px;
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
  /* Adjust as needed */
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  font-size: 16px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  overflow: hidden;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-icons a img {
  width: 20px;
  height: 20px;
}

.trailing_text {
  font-size: 20px;
  font-weight: 700;
  color: #657ebf;
  margin-right: 10px;
}

.icon-button {
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.icon-button:hover {
  background-color: wheat;
}

.primary-button {
  border: 2px solid #fcb13d;
  border-radius: 50px;
  padding: 5px 10px;
  background-color: #fcb13d;
  cursor: pointer;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  outline: none;
  width: 100px;
}

.primary-button:hover {
  background-color: #f29203;
}